<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'log_user_url' %}"  method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        {% for field in form %}

            <div class="form-group">

            {{ field.label }}
            {{ field }}

            </div>

        {% endfor %}

    <button type="submit" name="button" class="btn btn-primary"> Login! </button>


    </form>

</body>
</html>