<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
 <form action="{% url 'log_user_form' %}"  method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

            {{ field.label }}
            {{ field }}

            </div>

        {% endfor %}

    <button type="submit" name="button" class="btn btn-primary"> Login! </button>


    </form>
</body>
</html>