<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
   #buttns a {
       border: 2px solid black;
       padding: 10px;
   }
  </style>
</head>
<body>
    <p id="buttns" class="btn-primary ">

        {% if request.user.is_authenticated %}
            <p>Hello, {{ request.user.phone_number }}</p>
            <a href="{% url 'logout_url' %}">Log out</a>
        {% else %}
            <a href="{% url 'log_user_url' %}"> Login </a>
            <a href="{% url 'create_user_form_url' %}">Registration</a>
        {% endif %}
    </p>
     {% for user in users %}
         <p>
            {{ user.phone_number }}
         </p>
     {% endfor %}

    <p>
       USER: {{ request.user.phone_number}}
    </p>

    <p>
       OS:   {{ os }}
    </p>

      <p>
         BROWSER: {{ browser }}
     </p>

     <p>
         IP ADDRESS: {{ ip }}
     </p>

    <p>
        HTTP header: {{ header }}
    </p>

    <p>
        DEVICE ID: {{ device_id }}
    </p>
</body>
</html>